body {
  background-color: #13505b;
  margin: 0%;
  padding: 0%;
}

p {
  color: white;
}

h2 {
  color: white;
}
.nav {
  height: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.name {
  font: 1.5rem;
  margin: auto 1rem;
  font-size: 28px;
}

.nav_items ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav_items ul li {
  list-style: none;
}

.nav_items ul li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.nav_items li:hover {
  background-color: #119da450;
}

.hamburg {
  height: 1.5rem;
  width: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  align-items: center;
  top: 1rem;
  right: 1rem;
}

.hamburg_line {
  height: 0.188rem;
  width: 100%;
  background-color: white;
  border-radius: 0.6rem;
  transition: all ease-in-out 0.2s;
}

@media screen and (max-width: 550px) {
  .hamburg {
    display: flex;
  }

  .nav_items {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #119da420;
    top: -20rem;
    width: 100%;
    transition: all ease-in-out 0.4s;
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav_items ul {
    flex-direction: column;
    width: 100%;
    padding: 3rem 0 0.6rem;
  }

  .nav_items ul li {
    text-align: center;
  }
  .nav_items {
    z-index: -1;
  }
  .nav_items.active {
    top: 0;
  }
  .hamburg.active :nth-child(1) {
    transform: rotate(45deg) translate(0.45rem, 0.2rem);
  }
  .hamburg.active :nth-child(2) {
    opacity: 0;
    width: 1px;
  }
  .hamburg.active :nth-child(3) {
    transform: rotate(-45deg) translate(0.45rem, -0.2rem);
  }
}

/*homepage*/

#portrait {
  height: 300px;
  box-shadow: -10px 10px 5px;
}
